---
layout: layout.liquid
title: Using API Endpoints and Tailwind
---
<body class="bg-purple-400">
    <h1 class="text-center text-3xl font-bold mt-10">Phone API Examples</h1>
    <div class="container mx-auto mt-10 grid grid-cols-2 gap-4">
        <div class="flex justify-center items-center">
            <div x-data="{thumbphone: $fetchjson('https://dummyjson.com/products/4', jsonItem='thumbnail')}">
                <img alt="thumbnail" x-bind:src="thumbphone" />
            </div>
        </div>
        <div class="flex justify-center items-center">
            <div x-data="{thumbphonex: $fetchjson('https://dummyjson.com/products/2', jsonItem='thumbnail')}">
                <img alt="thumbnail" x-bind:src="thumbphonex" />
            </div>
        </div>
    </div>
</body>







