---
layout: layout.liquid
title: 11ty Boilerplate
---

<div x-data="{thumbimg: $fetchjson('https://dummyjson.com/products/1', jsonItem='thumbnail')}">
    <img alt="thumbnail" x-bind:src="thumbimg" />
</div>
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Hover me</button>
